
.Rproj.user/33BD4D96/sources/prop/253AF9A6
.Rproj.user/33BD4D96/sources/session-B7C1A119/033D7242
.Rproj.user/33BD4D96/sources/prop/253AF9A6
.Rproj.user/33BD4D96/sources/session-B7C1A119/033D7242
.Rproj.user/33BD4D96/sources/session-B7C1A119/7E39E6BA
.Rproj.user/33BD4D96/sources/session-B7C1A119/7E39E6BA-contents
.Rproj.user/shared/notebooks/paths
.Rproj.user
.Rproj.user/33BD4D96/sources/session-B7C1A119/033D7242
.Rproj.user/33BD4D96/sources/session-B7C1A119/026330CA-contents
.Rproj.user/33BD4D96/sources/session-B7C1A119/033D7242
.Rproj.user/33BD4D96/jobs/52D75FB5-output.json
